
.contenedor-mapa {
  display: flex;
  justify-content: center; 
  align-items: center; 
  max-width: 100%;
  height: auto;
  margin-top: auto;
}

.imagen-reducida {
  max-width: 100%;
  height: auto;
  margin-top: 10%;
}

.tolbar{
  margin-top: 30px;
}

.titulo-ubicacion{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
 

}