.contenedor-imagen,
.contenedor-mapa {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.imagen-reducida {
  max-width: 100%;
  height: auto;
}

.contenedor-mapa {
  margin-top: 2px;
}

.contenedor-mapa iframe {
  max-width: 100%;
  height: auto;
}

.tolbar{
  margin-top: 30px;
}