<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Viajes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenedor-imagen">
    <img src="https://estandarlabs.gruposentte.cl/app-assets/images/fondo-azul.jpg" class="imagen-reducida" alt="Imagen">
  </div>
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Total de Viajes</ion-card-title>
      <ion-card-subtitle>
        {{contador}}
      </ion-card-subtitle>
    </ion-card-header> 
  </ion-card>
  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Crear viaje</ion-card-title>
      <ion-card-subtitle>
        <ion-label position="floating">Destino</ion-label>
        <ion-input id="destino" [clearInput]="true" type="text" class="custom-clear-input"></ion-input>
        <ion-label position="floating">Capacidad:</ion-label>
        <ion-input id="capacidad" [clearInput]="true" type="text" class="custom-clear-input"></ion-input>
        <ion-label position="floating">Tarifa:</ion-label>
        <ion-input id="tarifa" [clearInput]="true" type="text" class="custom-clear-input"></ion-input>
      </ion-card-subtitle>             
      </ion-card-header>
      </ion-card>
      <ion-button expand="block" (click)="botonClick()">Crear Viaje</ion-button>
      <ion-button expand="block" class="yellow-button" (click)="limpiarCampos()">Limpiar</ion-button>
</ion-content>
