<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Credencial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="usuarioActivo">
    <img [src]="usuarioActivo.image">
    <ion-card-header>
      <ion-card-title>Bienvenid@</ion-card-title>
      <ion-card-subtitle> {{ usuarioActivo.username}} </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-text> {{ usuarioActivo.firstName }} {{ usuarioActivo.lastName }} </ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
